body{margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#222222}
.header-wrap{background:#32b353}
.header{max-width:1000px;margin:0 auto;padding:40px 0;background:url(../img/spark-icon-white.svg) no-repeat center right;background-size:64px 64px}
h1{color:white;font-size:40px}
.page-wrap{max-width:1000px;margin:0 auto}
.admin form{max-width:500px;margin:0 auto}.admin form label{display:block;font-size:20px;margin-bottom:10px;color:#666}
.admin form input{width:100%;height:40px;font-size:20px;margin-bottom:10px;box-shadow:0 0 5px #ccc;outline:none;border:0}.admin form input:focus{box-shadow:0 0 10px #32b353}
.admin form .add,.admin form .addAnswer{background:#fff url(../img/button-arrow-blue.png) 95% center no-repeat;color:#32b353}.admin form .add:hover,.admin form .addAnswer:hover{color:#3dbfb9}
.admin form .question-wrapper{position:relative;text-align:right}.admin form .question-wrapper input{width:95%}
.admin form .answer-wrapper{text-align:right}.admin form .answer-wrapper input{width:85%}
.admin li{color:#32b353;font-size:30px}.admin li span{color:#222;font-size:19px;line-height:20px}
a,button{text-transform:uppercase;border:0;padding:16px 29px 16px 19px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;cursor:pointer}
a,.submit{background:#32b353 url(../img/button-arrow.png) 92% center no-repeat;color:#fff;display:block;margin:50px auto;text-decoration:none}a:hover,.submit:hover{background-color:#45d4cd}
a:active,.submit:active{background-color:#2d8883}
#surveyForm{overflow:hidden;max-height:10000px;-moz-transition:1s;-ms-transition:1s;-o-transition:1s;-webkit-transition:1s;transition:1s}
#surveyForm.shrank{overflow:hidden;max-height:0}
#surveyRecap{width:820px;margin:0 auto;opacity:0;-moz-transition:1s;-ms-transition:1s;-o-transition:1s;-webkit-transition:1s;transition:1s;transition-delay:1s}
#surveyRecap.shown{opacity:1}
#qrcode,#infos{float:left;height:200px;width:200px;box-shadow:0 0 20px 7px #ccc;padding:50px;margin:40px}
.wait{margin-top:50px;text-align:center}.wait span{display:block;font-size:20px;margin-bottom:10px}
.results #test1,.results .actions{display:none}
